.right-module {
  float: right;
  overflow-y: scroll;
  border: solid;
  border-radius: 3vh;
  width: 55%;
  border-color: #c88204;
  border-width: 4px;
  height: 100vh;
  max-height: 100%;
  background: #102966;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 2vh;
  /* height: fit-content; */
  color: white;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.right-module::-webkit-scrollbar {
  display: none;
}
select {
  background: #c88204;

}
.pocket-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.bottom-module {
  border-radius: 3vh;
  background-color: #1e174e;
  height: 18vh;
  justify-content: center;
  display: flex;
  margin-top: 1.5vh;
  align-items: center;
  color: white;
  border-width: 3.5px;
  border-color: #82db0fd6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-style: solid;
}
* {
  /*outline: solid rgb(145, 113, 145);*/
  font-family: "Calibri", sans-serif;  /*to do add a body tag*/
}

li {
  border-bottom: solid;
  border-color: grey;
  /* border-style: dashed; */
  border-bottom-width: thin;
  border-bottom-style: dotted;
}
.title {
  font-size: 55px;
  letter-spacing: 7px;
  font-weight: 1000;
}

.pocket-squares {
  background-color: #1e174e;
  border-radius: 3vh;
  padding: 2.3vh;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.canvas {
  border: 2px solid;
  border-radius: 3vh;
  background: #80808017;
}

body {

  background: #8b8c8f87;
  padding: 2vh;
}
.main-body {
  display: flex;
}
.canvas-container {
  height: 84vh;
  /* margin: 2vh; */
  margin-right: 1vh;
  border-radius: 3vh;
  margin-bottom: 2vh;
  background: #04001f;
  border: solid;
  border-color: #56c1ffd6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-width: 3.5px;
  width: 69%;
}
.pocket-squares ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Card hover effect */
.pocket-squares:hover {
  transform: translateY(-2px); /* Slight lift on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

label {
  font-weight: bold;
}


